@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-display {
    min-height: 20px;
}

.game-button {
    margin: 10px;
    font-size: 40px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.game-button:hover {
    border: 1px solid rgba(0,0,0, .5);
    cursor: pointer;
}